body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
}

.background{
    background: linear-gradient(to right, red , yellow); 
    height: 140vh;
    margin-top: -50vh;
}

h1 {
    font: 600 4vw 'Raleway', sans-serif;
    color: azure;
    text-shadow: 1px 2px #0000006b;
    width: 100%;
}


h3 {
	font:'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01vw;
}

.center{
    text-align: center;
    margin-top: 100px;
}

.display-4{
    color: azure;
    text-shadow: 2px 2px #0000006b;
    font-size: 4rem;
}

.ver-center{
    margin-bottom: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bg-dark1{background-color:#343a404d!important}


.color1, .color2{
    height:40px;
}

button{
    height: 40px;
    color: azure !important;
    text-shadow: 2px 2px #0000006b !important;
}

.nav-item, .nav-link{
    color: rgba(240, 255, 255, 0.733) !important;
    text-shadow: 1px 1.4px #00000057 !important;
    font-size: 1.1rem !important;
}

.nav-item, .nav-link:hover{
    color: azure !important;
    text-shadow: 1px 1.4px #0000006b !important;
    font-size: 1.1rem !important;
}
